/* 
 * Bellamy 
 * CSS 
 */

/* Bellamy custom classes */

.reset-margin { margin:0!important }
.reset-padding { padding:0!important }
.invisible { display:none;visibility:hidden }
.visible { display:block;visibility:visible!important }
.normal-font { font-family:Roboto!important }
.link { text-decoration:none;font-weight:bolder }
.sidebar { position:fixed!important;height:100%;right:0;top:45pt;z-index:5;padding:0 40pt 0 15pt!important }
.grey { background-color:#f8f8f8 }

/* Stable 9 */

.layout-container > main img[property='schema:image'] { width:100%;height:100% }
.layout-container > header > div { height:45pt;width:100%;z-index:5 }
.layout-container > footer > div { height:50pt;width:100%;bottom:0;left:0;right:0;position:sticky;top:auto;z-index:5 }
.layout-container > main { margin:80pt 0 35pt 0;width:100%;padding:0 5%;min-height:calc(100vh - 165pt) }
.layout-container input[type='text'],
.layout-container input[type='email'],
.layout-container input[type='password'],
.layout-container input[type='search'] { width:100% }
.layout-container .is-active { color:darkred }
.layout-container .indented { margin-left:2% }

/* CSS loader */

.layout-container { content:none; position:relative; visibility:hidden }
.layout-container.no-after:after { content:none }
.layout-container:after { content:' ';left:calc(50% - 100pt);top:0;bottom:0;margin:auto;box-sizing:content-box!important;position:fixed;visibility:visible;border:50pt solid black;border-radius:50%;border-top:50pt solid grey;width:100pt;height:100pt;-webkit-animation:spin 2s linear infinite; /* Safari */animation:spin 2s linear infinite }
 
 /* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg) }
  100% { -webkit-transform: rotate(360deg) }
}

@keyframes spin {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
